{% extends 'rango/base.html' %}
{% block content %}
<div class="container">
    
<!-- line chart canvas element -->
<div class="row">
    <h4>Amount of views on pages</h4>
    <canvas id="chartti" width="500" height="400"></canvas>
</div>

<div class="row">
<h4>Amount of likes on categories</h4>
        <canvas id="categorychart" width="500" height="400"></canvas>
</div>
        <!-- pie chart canvas element -->
 
        <br>Time is {{toka}} minutes past {{first}}.</br>
</div>
        <script type='text/javascript'>
            
            //page JSON
            var js_list = '{{ pageviews|safe }}';
            var obj = JSON.parse(js_list);
            var charttidata = [];
            var charttilabel= [];
            for (var i=0; i < obj.length; i++) {
                charttidata.push(obj[i].fields.views)
                charttilabel.push(obj[i].fields.title)
            }          
            //category query
            var js_list = '{{ categorylikes|safe }}';
            var obj = JSON.parse(js_list);
            var categorydata = [];
            var categorylabel= [];
            for (var i=0; i < obj.length; i++) {
                categorydata.push(obj[i].fields.likes)
                categorylabel.push(obj[i].fields.name)
            }    
        
            // line chart data
            var graafinData = {
                labels : charttilabel,
                datasets : [
                {
                    fillColor : "rgba(172,194,132,0.4)",
                    strokeColor : "#ACC26D",
                    pointColor : "#fff",
                    pointStrokeColor : "#9DB86D",
                    data : charttidata  
                }
            ]
            }
            
            var catgraafinData = {
                labels : categorylabel,
                datasets : [
                {
                    fillColor : "#48A497",
                    strokeColor : "#ACC26D",
                    data : categorydata  
                }
            ]
            }
            
            // get line chart canvas
            var amountOfLikes = document.getElementById('chartti').getContext('2d');
            // draw line chart
            new Chart(amountOfLikes).Line(graafinData);
            
            //chart nro 2
            var categoriadata = document.getElementById('categorychart').getContext('2d');
            new Chart(categoriadata).Bar(catgraafinData);
   
 
        </script>
   {% endblock %}