{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block content %}


<script>
    $( document ).ready(function() {
        
        /*
        $( ".itemi" ).click(function() {
            var catid;
            catid = $(this).attr("data-catid");
            $.get('/rango/show_product/', {category_id: catid}, function(data){
                $('#categoryContainer').html(data);
            });
        });
        */
        
        
        $( ".badger-click" ).click(function() {
            var catid;
            catid = $(this).attr("data-catid");
            $.get('/rango/like_product/', {category_id: catid}, function(data){

            //Todo: onclick - refresh categorydiv.html tää update vois olla parempi
            $.get('/rango/palautadata/', {category_id: catid}, function(data){
                $("#categoryContainer").html(data);
            });
            $('.badger-click').hide();
            });
        });
        
        
        $( ".itemi" ).click(function() {
            var catid;
            catid = $(this).attr("data-catid");
            $.get('/rango/palautadata/', {category_id: catid}, function(data){
            $("#categoryContainer").html(data);
            });
        });
    });

</script>


      <!-- Listaa categoriat-->
        {% if categories %}
            <ul class="list-group">
                <legend>Categories available</legend>
                {% for category in categories %}
                  <a href=#>
                <li class="list-group-item list-group-item-info itemi" data-catid="{{category.id}}" id="item-{{ forloop.counter0 }}">
                    {{ category.name }} 
                        <span class="badge badger-click" data-catid="{{category.id}}">Like</span> 
                </li>
           </a> 
                {% endfor %}
            </ul>
        {%else%}
        <strong>ei kategorioita mukana</strong>
        {%endif%}

<div id="categoryContainer" class="container" align="center"></div>

        
</br>
        
       
        {% if user.is_authenticated %}
        
        <a href={% url "add_category" %}>Add a New Category</a><br />

        {% endif %}


{% endblock %}